@page
@model DentistBookingWebApp.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    var customer = Model.customer;
}

<div class="wrapper container py-3 px-4">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @ViewBag.Message
        </div>
    }
    <h2>Register</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="POST" id="signupForm">
        <div class="form-row col-md-6">
            <div class="form-group col">
                <label for="fullNanme">Full name</label>
                <input asp-for="customer.FullName" class="form-control" id="fullName">
                <span asp-validation-for="customer.FullName" class="text-danger"></span>
            </div>           
        </div>
        <div class="form-row col-md-6">
            <div class="form-group col">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row col-md-6">
            <div class="form-group col">
                <label for="phoneNumber">Phone number</label>
                <input type="text" class="form-control" id="phoneNumber" asp-for="customer.PhoneNumber">
                <span asp-validation-for="customer.PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row col-md-6">
                <div class="form-group col">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            
        </div>

        <div class="form-row col-md-6">
                <div class="form-group col">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

        <div class="text-center col-md-4">
            <button type="button" class="btn btn-success col" onclick="onClickSubmit()">Sign up</button>
        </div>
    </form>
</div>


<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

        .wrapper form {
            width: 100%;
        }

        .wrapper h1 {
            margin-bottom: 20px;
        }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function onClickSubmit() {
            $("#signupForm").submit();
        }
    </script>
    
}
<script type="text/javascript">
        window.onload = function() {
            if ('@TempData["Message"]' != "") {
                $.notify("@TempData["Message"]", { color: "#fff", background: "#20D67B" })
            }
            else if ('@TempData["ErrorMessage"]' != "") {
                $.notify("@TempData["ErrorMessage"]", { color: "#fff", background: "#D44950" })
            }
        }
    </script>