@page
@model DentistBookingWebApp.Pages.Services.DetailsModel
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <div class="body-top mt-3">
        <div class="service-name text-center mb-4">
            <h2>@Model.serviceViewModel.Name</h2>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Role) && Model.Role != "Customer")
    {
        <div class="row col-12">
            <div class="specialty-section col-4 mb-3">
                <span style="font-weight: bold" class="mr-1">Status:</span>
                @if (@Model.serviceViewModel.Status)
                {
                    <span>Active</span>
                }
                else
                {
                    <span>Inactive</span>
                }
            </div>
            <div class="specialty-section col-4 mb-3">
                <span style="font-weight: bold" class="mr-1">Created by: </span>
                <span>@Model.serviceViewModel.Admin.FullName</span>
            </div>
            <div class="specialty-section col-4 mb-3">
                <span style="font-weight: bold" class="mr-1">Latest update: </span>
                <span>@Model.serviceViewModel.UpdatedDate</span>
            </div>
        </div>
    }

    <div class="row mb-5">
        <div class="body-left col-12">
            <div>
                <div class="service-thumb mb-3">
                    <img src="~/images/service/@Model.serviceViewModel.Image" />
                </div>
                <div class="service-des">
                    @Html.Raw(Model.serviceViewModel.Description)
                </div>
                <div class="price text-center float-right">
                    <span style="font-weight: bold">Price:</span> $@Model.serviceViewModel.Price
                </div>
            </div>
            <div class="funct-button text-center mt-5">
                @if (!string.IsNullOrEmpty(Model.Role) && Model.Role == "Admin")
                {
                    <a class="btn btn-success col-4"
                   asp-page="/Services/Edit"
                   asp-route-id="@Model.serviceViewModel.Id">
                        Edit
                    </a>
                    <a class="btn btn-danger col-4"
                   asp-page="/Services/Details"
                   asp-page-handler="Delete"
                   asp-route-id="@Model.serviceViewModel.Id">
                        Delete
                    </a>
                    <br>
                }
                else if (string.IsNullOrEmpty(Model.Role) || Model.Role == "Customer")
                {
                    <a class="btn btn-success col-4"
                   href="/Reservation/Index?serviceId=@Model.serviceViewModel.Id">
                        Make reservation
                    </a>

                    <br>
                }

            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/service/detail.css")" rel="stylesheet" type="text/css" />
}

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }