@page
@model DentistBookingWebApp.Pages.Services.IndexModel
@{
    ViewData["Title"] = "Service";
}


@if (Model.serviceList != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.serviceList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.serviceList[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.serviceList[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.serviceList[0].Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.serviceList)
            {
                <form method="post" asp-page-handler="AddToCart">
                    <input type="hidden" name="productId" value="@item.Id" />
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Status)
                    </td>
                        @if (!string.IsNullOrEmpty(Model.Role) && Model.Role.ToLower() == "admin")
                        {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        </td>
                        }
                        else
                        {
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        </td>
                        }
                </tr>
                </form>
            }
        </tbody>
    </table>
}
else
{
    <h1>There is no service available now</h1>
}

