@page
@model DentistBookingWebApp.Pages.Services.IndexModel
@{
    ViewData["Title"] = "Service";
}


<div class="page-wrapper">
    <div class="section-title">
        <h2>Our services</h2>
    </div>

    <div class="service-wrapper">
        <form class="col-12" asp-page="./Create">
            @if (!string.IsNullOrEmpty(Model.RoleId) && Model.RoleId == "1")
            {
                <div class="form-row col-12 my-3">
                    <a asp-page="./Create" class="btn btn-primary">Add new service</a>
                </div>
            }
            <div class="form-row col-12 col-lg-6">
                <input type="text" class="form-control col-8" placeholder="Service's name" name="search">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </div>
        </form>
        @foreach (var item in Model.serviceList)
        {
            <div class="service-preview d-flex my-4 mx-3">
                <div class="service-thumbnail">
                    <img src="/images/service/@item.Image" />
                </div>
                <div class="service-text my-3">
                    <div class="service-name px-3">
                        <h4>@item.Name</h4>
                    </div>
                    <div class="service-descript text-secondary px-3">
                        @Html.Raw(item.Description)
                    </div>
                    @if (!string.IsNullOrEmpty(Model.RoleId) && Model.RoleId == "1")
                    {
                        <div class="card-bottom mt-3 px-3">
                            <a class="" asp-page="./Details" asp-route-id="@item.Id">Read more</a>
                            <a asp-page="./Edit"
                       class="btn btn-success button-card">
                                Edit
                            </a>
                        </div>
                    }
                    else if (string.IsNullOrEmpty(Model.RoleId) || Model.RoleId == "3")
                    {
                        <div class="card-bottom mt-3 px-3">
                            <a class="" asp-page="./Details" asp-route-id="@item.Id">Read more</a>
                            <a href="#"
                                class="btn btn-success button-card">
                                Make reservation
                            </a>
                        </div>
                    }
             </div>
            </div>
        }
    </div>

    @*<nav aria-label="..." class="pagination">
    <ul class="pagination">
    <li class="@(ViewBag.CurrentPage == 1 ? "page-item disabled" : "page-item")">
    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })" tabindex="-1">Previous</a>
    </li>
    @for (int i = 1; i <= ViewBag.PageCount; i++)
    {
    <li class="@(i == ViewBag.CurrentPage ? "page-item active" : "page-item")">
    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
    </li>
    }
    <li class="@(ViewBag.CurrentPage == ViewBag.PageCount ? "page-item disabled" : "page-item")">
    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
    </li>
    </ul>
    </nav>*@
</div>


@section Styles {
    <link href="@Url.Content("~/css/service/index.css")" rel="stylesheet" type="text/css" />
}

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }


